@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background-color: #033037;
}
.second_block {
    width: 100%;
    height: 650px;
}
.block{
    margin: 70px auto; 
    width: 500px;
    border-radius: 5px solid white;
}
select {
    background-color: #fff;
    opacity: 0.4;
    margin-bottom: 20px;
    font-size: 18px;
}
.feedback-input {
  color:#dddddd;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #dddddd;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 140px;
  line-height: 150%;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #dddddd;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(0, 0, 0);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top: 20px;
  font-weight:700;
}
[for="tours"] {
    font-family: Helvetica, Arial, sans-serif;
    color:#dddddd;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
}
[type="date"] {
    background-color: #dddddd;
    opacity: 0.4;
}
form h2 {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 22px;
    text-align: center;
    font-size: 30px;
    color: #dddddd;
    margin-bottom: 50px;
}